# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
pb-backend/venv/
.env
*.log
*.sqlite3
media/
staticfiles/
pb-backend/frontend_build/
pb-backend/gunicorn.pid

# Node
node_modules/
dist/
build/
pb-frontend/node_modules/
pb-frontend/dist/
.DS_Store
pb-frontend/.htaccess
.check-status
pw.txt

# Vite
.vite/
pb-frontend/.vite/

# Django
migration/
db.sqlite3

# Docker
.dockerignore
docker-compose.yml
Dockerfile
Dockerfile.prod
nginx.conf
nginx-prod.conf

# Docs & Scripts
*.md
docs/
*.sh

# Debug & Temp
*.txt
*.pkl
*.pdf
